<!-- /contact -->
<div class="contact_sec" id="contact">
  <div class="container">
    <h3 class="tittle_kuiper-it two con">Contact</h3>
    <p class="sub_para two">Neem contact op voor meer informatie</p>
    <div class="contact-info skill_info">
      <form class="contact-form" action="#" method="post">
        <input type="text" name="Naam" placeholder="Naam" required="">
        <input type="text" name="Telefoonnummer" placeholder="Telefoonnummer" required="">
        <input type="text" name="Onderwerp" placeholder="Onderwerp" required="">
        <input type="email" name="Email" placeholder="Email" required="">
        <textarea name="Bericht" placeholder="Bericht" required=""></textarea>
        <div class="clearfix"> </div>
        <input type="submit" value="Verstuur">
      </form>

    </div>
    <ul class="address two">
      <li><i class="fa fa-map-marker" aria-hidden="true"></i> Barneveld</li>
      <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:jeroen@kuiper-it.nl">jeroen@kuiper-it.nl</a></li>
      <li><i class="fa fa-phone" aria-hidden="true"></i>0641373044</li>
    </ul>
  </div>
</div>
<app-map></app-map>
