<div class="servies" id="services">
  <div class="container">
    <h3 class="tittle_kuiper-it two">Expertise</h3>
    <p class="sub_para two yellow">Mijn expertise ligt voornamelijk op het gebied van .NET, web ontwikkeling, Azure en data-gedreven processen en applicaties.</p>
    <div class="skill_info_wthree_agile">
      <div class="col-md-3 banner_bottom_left">
        <div class="banner_bottom_pos_kit">
          <div class="banner_bottom_pos_grid">
            <div class="col-xs-3 banner_bottom_grid_left">
              <div class="bottom_grid_left_grid">
                <i class="fa fa-cloud" aria-hidden="true"></i>
              </div>
            </div>
            <div class="col-xs-9 banner_bottom_grid_right">
              <h4>Azure Development</h4>
            </div>
            <div class="clearfix"> </div>
            <p>Bij MSI-ACI heb ik een volledig op Microsoft Azure gebaseerde high-traffic oplossing ontwikkeld. Hierbij heb ik gebruik gemaakt van Microservices, web –en –worker roles. Datastromen werden ontsloten middels Azure Queues, Tables, SQL en NoSQL storage oplossingen.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 banner_bottom_left">
        <div class="banner_bottom_pos_kit">
          <div class="banner_bottom_pos_grid">
            <div class="col-xs-3 banner_bottom_grid_left">
              <div class="bottom_grid_left_grid">
                <i class="fa fa-server" aria-hidden="true"></i>
              </div>
            </div>
            <div class="col-xs-9 banner_bottom_grid_right">
              <h4>Service Development</h4>
            </div>
            <div class="clearfix"> </div>
            <p>Bij KPN, MSI-ACI en Asito heb ik verschillende WCF services, Windows services, koppelingen en API’s ontwikkeld, welke op een hoog-beschikbare en fout-tolerante manier werken door middel van failover en load balanced clusters.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 banner_bottom_left">
        <div class="banner_bottom_pos_kit">
          <div class="banner_bottom_pos_grid">
            <div class="col-xs-3 banner_bottom_grid_left">
              <div class="bottom_grid_left_grid">
                <i class="fa fa-globe" aria-hidden="true"></i>
              </div>
            </div>
            <div class="col-xs-9 banner_bottom_grid_right">
              <h4>Web Development</h4>
            </div>
            <div class="clearfix"> </div>
            <p>Bij verschillende opdrachtgeves heb ik verschillende webapplicaties en single page applications ontwikkeld met behulp van Angular, MVC, ReactJs, Sencha en jQuery oplossingen.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 banner_bottom_left">
        <div class="banner_bottom_pos_kit">
          <div class="banner_bottom_pos_grid">
            <div class="col-xs-3 banner_bottom_grid_left">
              <div class="bottom_grid_left_grid">
                <i class="fa fa-recycle" aria-hidden="true"></i>
              </div>
            </div>
            <div class="col-xs-9 banner_bottom_grid_right">
              <h4>Continuous Delivery, DevOps</h4>
            </div>
            <div class="clearfix"> </div>
            <p>Bij verschillende opdrachtgeves heb ik gewerkt aan het continuous delivery –en –monitoring proces. Hierbij heb ik voornamelijk gebruik gemaakt van Visual Studio Online en TFS.</p>

          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
