<div class="banner_bottom" id="about">
  <div class="container">
    <div class="inner_sec_top_aglieits">
      <div class="banner_bottom_info">
        <h4><img src="../../../assets/images/JeroenKuiper_small.jpg" alt="Jeroen Kuiper" class="img-responsive"> .NET - C# - Azure - SQL/NoSql - Continuous Delivery </h4>
        <h6>Freelance full-stack Software Engineer</h6>
        <p>
          Als Software Engineer heb ik meer dan 10 jaar ervaring op het gebied van Microsoft gebaseerde oplossingen. Ik ben een echte all-round engineer, maar mijn expertise ligt voornamelijk op het gebied van .NET, web ontwikkeling, Azure en data-gedreven processen en applicaties.
        </p>
        <br />
        <p>
          Na het behalen van mijn Bachelor Informatica aan de Hogeschool van Arnhem en Nijmegen in 2006, heb ik altijd op project basis gewerkt voor klanten in verschillende branches. Ik ben een teamspeler en als gecertificeerd Scrum Master werk graag op een iteratieve manier om tot het eindresultaat te komen. Ook een prettige samenwerking is voor mij erg belangrijk.
        </p>
      </div>
      <ul class="address">
        <li><i class="fa fa-map-marker" aria-hidden="true"></i> Barneveld</li>
        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:jeroen@kuiper-it.nl">jeroen@kuiper-it.nl</a></li>
        <li><i class="fa fa-phone" aria-hidden="true"></i>+31 6 413 73 044</li>
      </ul>
    </div>
  </div>
</div>
