<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
  <nav>
    <ul class="nav navbar-nav">
      <li [routerLinkActive]="['active']"><a routerLink="Home" class="hvr-underline-from-center">Home</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="/Over" class="hvr-underline-from-center scroll">Over mij</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="/Expertise" class="hvr-underline-from-center scroll">Expertise</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="/Skills" class="hvr-underline-from-center scroll">Skills</a></li>
      <li [routerLinkActive]="['active']"><a routerLink='/Projecten' class="hvr-underline-from-center scroll">Werkervaring</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="/Contact" class="hvr-underline-from-center scroll">Contact</a></li>
    </ul>
  </nav>
</div>

