
<div class="banner" id="home">
  <div class="container">
    <div class="banner_info_kit_agile">
      <h3>Jeroen Kuiper</h3>
      <h6>Freelance full-stack software ontwikkelaar</h6>
      <p>Neem contact met mij op als je op zoek bent naar een gedreven full-stack Microsoft ontwikkelaar.</p>
      <ul class="slide-up">
        <li><a routerLink="/About" class="kit_more scroll">Lees meer</a></li>
        <li><a routerLink="/Contact" class="scroll contact"><i class="fa fa-angle-double-down" aria-hidden="true"></i> Contact</a></li>
      </ul>
    </div>
    <div class="banner-image-kuiper-it">
      <img src="images/men.png" alt=" " class="img-responsive" />
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- //banner -->
<!-- /banner_bottom -->
<div class="banner_bottom" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="kuiper-image">
          <img alt="Jeroen Kuiper" class="img-responsive" src="../../../assets/images/JeroenKuiper_small.jpg">
        </div>
        <div class="kuiper-info-content">
          <span class="kuiper-info-name">Jeroen Kuiper</span>
          <span class="kuiper-info-title">Software ontwikkelaar</span>
        </div>
      </div>
      <div class="col-md-4">      
        <div class="kuiper-info-content">
          <p><span class="text">Neem contact met mij op als je op zoek bent naar een gedreven full-stack Microsoft ontwikkelaar. Ik heb meer dan 10 jaar ervaring met zowel backend als frontend software ontwikkeling in verschillende branches.</span></p>
        </div>
        <div class="kuiper-info-content">
          <a target="_blank" href="https://www.linkedin.com/in/jeroen-kuiper-974bbb6/" class="btn linkedin-button"><i class="fa fa-linkedin-square"></i> Linkedin</a>
        </div>
      
      </div>
      <div class="col-md-3">
        <div class="kuiper-info-content">
          <p><span class="text">Leibeek 64</span><br><span style="font-size: 12pt;">3772SZ Barneveld</span></p>
          <p><span class="text"><a href="mailto:jeroen@kuiper-it.nl">jeroen@kuiper-it.nl<br></a><a href="http://www.kuiper-it.nl">http://www.kuiper-it.nl</a><a href="http://www.kuiper-it.nl"><br></a><a href="tel:+31641373044">+31 (0)6 41 373 044</a></span></p>
          <p><span class="text">KvK:&nbsp;69943435</span><span style="font-size: 12pt;"><br></span></p>
        </div>

      </div>
      <div class="col-md-3">
        <div class="kuiper-info-content">
          <div class="certification-logos" >
            <img class="img-responsive" src="../../../assets/images/microsoftpro_logo.png" alt="Microsoft Certified Profiessional">
            <img class="img-responsive" src="../../../assets/images/PSMI-small.jpg" alt="Professional Scrum Master 1">
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>
