  <!-- /skill -->
<div class="skill_section" id="skills">
  <div class="container">
    <div class="inner_sec_top_aglieits">
      <h3 class="tittle_kuiper-it">Skills Samenvatting</h3>
      <p class="sub_para">Onderstaande indicators geven een samenvatting van mijn ervaring met verschillende technieken.</p>
      <div class="skills-bar">
        <section class="bar">
          <section class="wrap">
            <div class="wrap_right">
              <div class="bar_group group_ident-1">
                <p class="b_label">Backend Development (Windows, WCF, Azure, Micro Services)</p><div class="bar_group__bar thin" label="Backend development" show_values="true" tooltip="true" value="5" style="margin-bottom: 40px; width: 100%;"><div class="b_tooltip"><span>5</span><div class="b_tooltip--tri"></div></div><p class="bar_label_min">0</p><p class="bar_label_max">5</p></div>
                <p class="b_label">Frontend Development (Angular, React, Sencha, RazorMVC)</p><div class="bar_group__bar thin" label="Frontend development" show_values="true" tooltip="true" value="5" style="margin-bottom: 40px; width: 60%;"><div class="b_tooltip"><span>3</span><div class="b_tooltip--tri"></div></div><p class="bar_label_min">0</p><p class="bar_label_max">5</p></div>
                <p class="b_label">Database/Storage Development (SQL, Redis, DocumentDB, Azure Tables/Blob/Queues) </p><div class="bar_group__bar thin" label="Database/Storage Development" show_values="true" tooltip="true" value="4" style="margin-bottom: 40px; width: 80%;"><div class="b_tooltip"><span>4</span><div class="b_tooltip--tri"></div></div><p class="bar_label_min">0</p><p class="bar_label_max">5</p></div>
                <p class="b_label">Continuous Delivery / DevOps (VS Online, TFS, Application Insights)</p><div class="bar_group__bar thin" label="Continuous Delivery" show_values="true" tooltip="true" value="4" style="margin-bottom: 40px; width: 60%;"><div class="b_tooltip"><span>3</span><div class="b_tooltip--tri"></div></div><p class="bar_label_min">0</p><p class="bar_label_max">5</p></div>
                <p class="b_label">Scrum / Agile</p><div class="bar_group__bar thin" label="Scrum/Agile" show_values="true" tooltip="true" value="4" style="margin-bottom: 40px; width: 80%;"><div class="b_tooltip"><span>4</span><div class="b_tooltip--tri"></div></div><p class="bar_label_min">0</p><p class="bar_label_max">5</p></div>
              </div>
            </div>
            <div class="clear"></div>
          </section>
        </section>       
      </div>
    </div>
  </div>
</div>
