<div class="stats" id="stats">
  <div class="container">
    <h3 class="tittle_kuiper-it two">Satisfied Clients</h3>
    <p class="sub_para two ">What I Love to Do</p>
    <div class="skill_info_wthree_agile">
      <div class="col-md-4 stats_left counter_grid">
        <div class="icon">
          <i class="fa fa-laptop" aria-hidden="true"></i>
        </div>
        <div class="icon_info_agileits">
          <p class="counter">65</p>
          <h3>Digital Market Place</h3>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-4 stats_left counter_grid1">
        <div class="icon">
          <i class="fa fa-user" aria-hidden="true"></i>
        </div>
        <div class="icon_info_agileits">
          <p class="counter">563</p>
          <h3>Made for Elite Clients</h3>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-4 stats_left counter_grid2">
        <div class="icon">
          <i class="fa fa-trophy" aria-hidden="true"></i>

        </div>
        <div class="icon_info_agileits">
          <p class="counter">245</p>
          <h3>Won On Contests</h3>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
